[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
python-socketio = {extras = ["asyncio"], version = "*"}
aiohttp = "*"

[dev-packages]

[requires]
python_version = "*"
